body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.counter {
  text-align: center;
  padding: 20px;
  border: 2px solid black;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}
